name: Release MCPACK

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build MCPACK
        run: |
          zip -r BabyTurt.mcpack . -x "*.git*" ".github*" "LICENSE" "README.md" ".gitignore"

      - name: Create and Populate Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            BabyTurt.mcpack
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
